*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
section{
    padding: 100px 0px ;
}
/*--Typography--*/
h1{
    font-size: 19.51pt;
    line-height: 20pt;
    margin-bottom: 15px;
    color: #12202f;
}
h2{
    font-size: 5.05pt;
    line-height: 7.8pt;
    margin-bottom: 10px;
    color: #12202f;    
}
h3{
    font-size: 9.66px;
    line-height: 20px;
    margin-bottom: 15px;
    color: #12202f;  
}

p{
    font-size: 4.07pt;
    line-height: 7.46pt; 
}

/*--Typography--*/
/*--Header--*/
    header{
        padding: 0px 129px ;
        background: #ebe3cd;
        position: relative;
    }
    .container {
        background: url(/images/Toolbar.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: relative;
    }
    .lamp-container{
        position: absolute;
        width: 70px;
        top: 58%;
        right: 11%;
    }
    .lamp{
        width: 100%;
    }
    .navbar{
        padding: 0px;
    }
    .navbar-nav .nav-link{
        padding: 74px 20px;
        color: #ffffff;
    
    }
    .nav-link active{
        color: #ffffff;
    }




/*--End Header--*/

/*--Banner--*/
.about{
    background-color: #ebe3cd;
}
.img-fluitd{
    max-width: 700px;
    height: auto;
}
.img-plant{
    max-width: 700px;
    height: auto;
}